p, h4{
    color: #fff;
  }
  
body{ 
    min-height:100vh; 
    margin:0; 
    position:relative;
    overflow: hidden;
    background-color: #39464e;
  }
  
  #home-icon{
    padding-top:20px !important;
  }

h4{
    text-align: center;
}


nav{
    margin-bottom:0px !important;
}

li{
    text-decoration: none;
    list-style: none;
}

li:hover{
    background-color: rgba(0,0,0,0.1);
    transition: background-color .3s;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: pointer;
}

#top-control{
    height:3vh;
}

#header{
  text-align: center;
}



#main{
    height: 100vh;
    border-left: 1px solid black;
    background-color: #39464e;
    padding: 0px;


}


#sidenav{
    padding: 0px;
    background-color: grey;

}

div.row{
    margin-bottom: 0px;
}

.dark-blue{
    background-color: #293241 !important;
  }
nav.blue-grey{
    margin:0px !important;
}


nav.dark-grey.bottom-nav{
    position: fixed;
    bottom:0px;
    left: 8.4%;
}

select{
    display: inline !important;
    background-color: #39464e !important;
    padding: 0px 1vw 0px 1vw !important;

}

select, option{
    border: 0 !important;
    border-bottom: 1px solid #fff !important;
}

.input-field>label{

    color: #fff !important;

}

input, select, option, th{
    color: #fff !important;
    
}

input#id{
    color: #39464e !important;
 
}

input.table-name-input{
    border-bottom: 0px !important;
    margin:0px 0px 0px 0px !important;
    padding-left:5px !important;
}

input.table-name-input:hover{
    background-color: #39464e !important;
}

select.table-input, input.table-input{
    padding: 0 !important;
    margin: 0 !important;
}


.checkbox-col{
    display: flex;
    flex-direction: column;
}

.fk-label-container{
    padding-top: 1em !important;

}

.fk-span{
    padding-left: 25px !important;
    line-height: 15px !important;
    font-size: 13px !important;
}



li.dark-grey:hover{
    background-color: #39464e !important;

}

i.icon-white {
    color: #fff;
}

.dark-grey{
    background-color: #3e4146 !important;
}

.btn-link{
    background-color: #98c1d9 !important;
    color: #39464e !important;
}

#createBtn-wrapper{
    margin-top: 0 !important;
}

 
  

 .valign-wrapper{
     margin-bottom: 0 !important;
 }


 th{
     text-align: center !important;
     background-color: #3e4146 !important;

 }

 td{
     padding: 5px  20px !important;
 }



 .fk-modal{
    background-color: #293241 !important;
 }

 #table-and-pk-for-fk{
    border-bottom: 0 !important;

 }