.top-nav{
    display: flex;
    flex-direction: row;
    justify-content:center;

}

#header{
  text-align: center;
}

nav{
    margin-bottom: 50px !important;
}

body{ 
  min-height:100vh; 
  margin:0; 
  position:relative;
  background-color: #39464e;


}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}


#home-icon{
  padding-top:20px !important;
}

img:hover{
  opacity: 0.5;
}


svg:hover{
  opacity: 0.5;

}
 .contact-img{
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  height: 5vh;
  width:auto;
} 

#about-me{
  text-align: center;
}

.project-links{
  display: flex;
  flex-direction: column;
}

.project-link-item{
  margin-top: 20px !important;
}

p{
  color: #fff;
}

.dark-blue{
  background-color: #293241 !important;
}

.btn-link{
   background-color: #98c1d9 !important;
   color: #39464e !important;

}
